params {

    // Input Options
  samples_csv              = ""  // this is a list of sample_ids 
  cellrangers_outs_dir     = "path/to/cellrangers/outs"
  refdir                   = "path/containing/reference/geneTable"
  experiment_id            = "Experiment NAME" // e.g. Rachel2022
  scrublet_PREFIX          = "path/to/cellrangers/outs/"
  scrublet_SUFFIX	       = "/outs/filtered_feature_bc_matrix" // does not change
  scrublet_OUT             = "${baseDir}/results/scrubletdir/" // created by pipeline
  scrublet_dir             = '${baseDir}/results/scrubletdir/' // created by pipeline
  in_key                   = "path/to/meta_table/"
  outdir                   = "${baseDir}/results" // created by nextflow
  qc_in_dir                = "${baseDir}/results/" // created by nextflow
  qc_output                = "${baseDir}/results/qc" // created by nextflow
  
    // QC Options

  nUMI                     = // value for minimum number nUMI or n_Counts_RNA
  nFeatures                =  // value for min nGenes or n_Feature_RNA
  percent_mito             =  // value for >= percent mito
  resolution               = // value to use for resolutin (clustering)
  // Generic Options
  publish_dir_mode = 'copy'
  // Defaults only, expecting to be overwritten
  
  max_memory = 350.GB
  max_cpus = 64
  max_time = 240.h
}



