params {

  // Input Options

  // CellRangers 
  cellranger_software_path = "/mnt/data0/projects/biohub/software/cellranger-7.1.0/"
  genomedir                = "/mnt/data0/referenceGenome/Homo_sapiens/10x/hg38/GRCh38/refdata-gex-GRCh38-2020-A/"
  fastq_path               = "/mnt/data0/projects/donglab/Organoid_snRNA/data/fastq/"
  samples_csv              = "${baseDir}/samplesheet/samples.csv"  // this is a list of sample_ids 
  cellrangers_outs_dir     = "path/to/cellrangers/outs"
  cellbender_dir           = "/mnt/data0/projects/biohub/zanella2023/data/cellbender/"

  // QC Directories
  refdir                   = ""
  experiment_id            = "" // e.g. EWA_Ruifeng2023
  in_key                   = "${baseDir}/samplesheet/Metatable_SampleSheet.xlsx" // can be .csv or googlesheet
  outdir                   = "${baseDir}/results" // created by nextflow
  qc_in_dir                = "${baseDir}/results/" // created by nextflow
  qc_output                = "${baseDir}/results/qc/" // created by nextflow
  species                  = "" // options ("Homo Sapiens", "Drosophila Melanogaster", "Mus musculus")
  
  // QC Options
  percent_mito             = 3  // value for >= percent mito
  percent_ribo             = 10
  resolution               = '' // Value for Clustering Algorithm (this determines how many clusters will be returned, lower resolution = lower number of clusters, higher resolution = higher number of clusters.)
  filter_MALAT             = 'FALSE' // TRUE/FALSE Remove MALAT Gene from project
  filter_MITO              = 'FALSE' // TRUE/FALSE Remove Mito Genes from project
  filter_RIBO              = 'FALSE' // TRUE/FALSE Remove Ribo Genes from project
  integrated               = 'TRUE' // TRUE FALSE run integration steps 

  // Generic Options
  publish_dir_mode = 'copy'
  // Defaults only, expecting to be overwritten
  // set cores and mem for CellRangers Count 
  mem = 64
  cores = 8
  
  max_memory = 350.GB
  max_cpus = 64
  max_time = 240.h
}
